
body {
    margin:0; padding:0;
    background-color: #93A969;
  }
#map {
    position: absolute;
    top: 6em;
    /* margin-left: 0em; */
    left: 6em;
    bottom: 6em;
    height: 79%;
    width: 88%;
    margin-bottom: 6em;
  }
